html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
}

#map {
	height: 80%;
	width: 100%;
}

h1 {
	font-family: "Merriweather", serif;
	text-align: center;
	font-size: 40px;
	letter-spacing: 5px;
	color: rgb(40, 40, 40);
}

div.page-title {
	height: 100px;
	width: 350px;
	border-style: hidden;
	position: relative;
	left: 37%;
}

body {
	background-color: AntiqueWhite;
}
